html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav,
section {
    display: flex;
    justify-content: center;
}

* {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.container {
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.space {
    flex-grow: 1;
}

nav img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
    width: 70px;
    flex-grow: 1;
}

nav ul {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    margin-right: 20px;
}

nav li {
    flex-grow: 1;
}

nav li a {
    color: #54514A;
    font-size: 20px;
}

nav>div.container {
    max-width: 1500px;
    border-radius: 20px;
    background-color: #ffdb69;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
    background-image: url(./topography.svg);
    background-size: cover;
    background-position: center;
}

pre.small {
    height: 5px;
}

.title {
    min-height: 800px;
    flex-grow: 1;
    background-clip: initial;
    background-image: url(./cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    h1,
    h2,
    button {
        margin-left: 50px;
        flex-grow: 1;
        margin-top: 0;
        margin-bottom: 0;
    }

    h1 {
        font-size: 64px;
        line-height: 87px;
        color: #5DC5C7;
    }

    h2 {
        font-size: 42px;
        line-height: 64px;
        color: white;
    }

    button {
        background-color: #ffcc29;
        border: none;
        color: black;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        max-height: 40px;
        width: 150px;
        font-size: 20px;
        line-height: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.title-footer {
    background-color: white;
    display: flex;
    justify-content: space-around;

    .element {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 47px;
            height: 47px;
            flex-grow: 10;
        }

        p {
            flex-grow: 10;
        }

        .space {
            flex-grow: 1;
        }
        
        a {
            text-align: center;
            flex-grow: 1;
        }

        .info-row {
            display: flex;
            flex-direction: column;

            p{
                margin-top: 12px;
                margin-bottom: 12px;
            }
        
            a{
                margin-top: 12px;
                margin-bottom: 12px;
            }
        }
    }
}

#info {
    max-width: 1500px;
    margin-top: 60px;
    background-color: #ffdc6a;
    background-image: url(./topography-yellow.svg);
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    align-items: center;
}

hr {
    width: 133px;
    margin-top: 42px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;

    h4 {
        margin-bottom: 0;
        font-size: 32px;
        line-height: 38px;
    }

    h5 {
        text-align: center;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 36px;
    }

    .inline-container {
        margin-top: 42px;
        margin-bottom: 42px;
        display: flex;
        justify-content: space-evenly;

        a {
            text-align: center;
            flex-grow: 5;
            font-size: 24px;
            line-height: 29px;
        }
    }
}

#about {
    h2 {
        font-size: 48px;
        line-height: 58px;
    }

    .row {
        display: flex;
        margin-bottom: 36px;
        align-items: center;
        justify-content: center;

        .side-image {
            height: 380px;
            width: 690px;
        }

        p {
            margin-top: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

footer {
    background-color: #5DC5C7;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    img {
        margin-top: 2%;
        margin-bottom: 2%;
        height: auto;
        width: 10vw;
    }
}

@media only screen and (max-width: 699px) {
    * {
        font-size: 4vw;
    }

    li {
        display: none;
    }

    li#prodog {
        display: inline;
    }

    .space-5 {
        flex-grow: 1;
    }

    .space-4 {
        flex-grow: 1;
    }

    .space-2 {
        flex-grow: 1;
    }

    .vertical-space {
        min-width: 40px;
    }

    nav li a {
        font-size: 5vw;
    }

    .title {
        min-height: 50vh;
        min-width: auto;
        border-radius: 3%;
        border: none;
        background-position: center center;
        margin-right: 2px;

        h1,
        h2 {
            margin-left: 8vw;
            font-size: 7vw;
            line-height: normal;
        }

        button {
            margin-left: 8vw;
        }
    }

    .title-footer {
        width: 95vw;
        /* to change later*/
        font-size: 24px;
        line-height: 29px;
        flex-direction: column;
        align-items: center;

        .element {
            img {
                flex-grow: 1;
                width: 10vw;
                height: 10vw;
            }

            .space {
                flex-grow: 1;
                min-width: 36px;
            }

            p {
                text-align: center;
                flex-grow: 1;
            }
        }
    }

    .inline-container {
        flex-direction: column;
        min-width: min-content;
        min-height: auto;
    }

    .info {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 80vw;

        h4,
        h5 {
            font-size: 6vw;
        }

        .inline-container a {
            font-size: 6vw;
        }

        .vertical-space {
            min-height: 36px;
        }
    }

    .container {
        max-width: fit-content;
    }

    .row {
        flex-direction: column;
    }

    #about {
        text-align: start;

        .row {
            max-width: 90vw;

            p {
                font-size: 4vw;
            }

            .side-image {
                height: auto;
            }

            img {
                max-width: 90vw;
                height: auto;
            }
        }


        .collage {
            max-width: 95vw;
            width: auto;
            height: auto;
        }
    }

    #first-element {
        margin-bottom: 36px;
    }

    footer img {
        height: auto;
        width: 30vw;
    }
}

@media only screen and (min-width: 700px) {
    .space-5 {
        flex-grow: 1;
    }

    .space-4 {
        flex-grow: 1;
    }

    .space-2 {
        flex-grow: 1;
    }

    .vertical-space {
        min-width: 40px;
    }

    .title {
        min-width: auto;
        border-radius: 3%;
        border: none;
        background-position: center center;
        margin-right: 2px;
    }

    .title-footer {
        width: 95vw;
        /* to change later*/
        font-size: 24px;
        line-height: 29px;
        flex-direction: column;
        align-items: center;

        .element {
            img {
                flex-grow: 1;
            }

            .space {
                flex-grow: 1;
                min-width: 36px;
            }

            p {
                text-align: center;
                flex-grow: 1;
            }
        }
    }

    .inline-container {
        min-width: min-content;
    }

    .info {
        margin-left: 20px;
        margin-right: 20px;
    }

    .container {
        max-width: fit-content;
    }

    .row {
        flex-direction: column;
    }

    #about {
        text-align: start;

        .row {
            max-width: 90vw;
        }

        .collage {
            max-width: 95vw;
            width: auto;
            height: auto;
        }
    }

    #first-element {
        margin-bottom: 36px;
    }

    footer img {
        height: auto;
        width: 20vw;
    }
}

@media only screen and (min-width: 1000px) {
    .space-5 {
        flex-grow: 1;
    }

    .space-4 {
        flex-grow: 1;
    }

    .space-2 {
        flex-grow: 1;
    }

    .vertical-space {
        min-width: 40px;
    }

    .title {
        min-width: auto;
        border-radius: 3% 3% 0 0;
        border: none;
        background-position: center center;
        margin-right: 2px;
    }

    .title-footer {
        width: 95vw;
        /* to change later*/
        font-size: 24px;
        line-height: 29px;
    }

    .inline-container {
        min-width: min-content;
    }

    .info {
        margin-left: 20px;
        margin-right: 20px;
    }

    .container {
        max-width: fit-content;
    }

    .row {
        flex-direction: column;
    }

    #about {
        text-align: start;

        .row {
            max-width: 90vw;
        }

        .collage {
            max-width: 95vw;
            width: auto;
            height: auto;
        }
    }

    #first-element {
        margin-bottom: 36px;
    }
    
    footer img {
        height: auto;
        width: 10vw;
    }
}


@media only screen and (min-width: 1300px) {
    .space-5 {
        flex-grow: 5;
    }

    .space-4 {
        flex-grow: 4;
    }

    .space-2 {
        flex-grow: 2;
    }

    .title {
        min-width: 1300px;
        border-radius: 5% 5% 0 0;
    }

    .title-footer {
        width: 1300px;
        flex-direction: row;
    }

    .info .inline-container {
        min-width: 1200px;
    }

    .container {
        max-width: 1300px;
    }

    .collage {
        width: 1300px;
        height: 470px;
    }

    #about .row {
        flex-direction: row;
    }

    #first-element {
        margin-right: 20px;
    }

    .title-footer {
        /* to change later*/
        font-size: 24px;
        line-height: 29px;
    }
    
    footer img {
        height: auto;
        width: 10vw;
    }
}